<h1>Admin Contact List</h1>
{{#link-to 'admin.contacts.new'}}
	New Contact
{{/link-to}}
<table class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>Email</th>
          <th>Message</th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |contact|}}
        <tr>            
            <td>{{contact.email}}</td>
            <td>{{contact.message}}</td>
        </tr>
    {{/each}}

    </tbody>
</table>

